name: Update README with Recent Activity

on:
  schedule:
    - cron: "30 12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4+

      - uses: actions/checkout@v5
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}